DB_HOST=localhost
DB_PORT=5432
DB_NAME=nombreDB
DB_USER=nombreUsuario
DB_PASSWORD=password
PORT=8081
CAS_URL=http://localhost:8080/

KC_DB_NAME=NombreDBKeycloak
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=password

RESEND_API_KEY=tu-api-key

GEMINI_API_KEYS=clave1,clave2,clave3